
@{
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
    ViewBag.Title = "Index";
}

<div class="container-fluid cm-container-white">
    <h2 style="margin-top:0;">物业管理系统简介</h2>
    <p>本系统是由vstudio2019开发</p>
</div>
<div class="container-fluid">
    @*第一行*@
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">小区管理</div>
                <div class="panel-body">
                    <a href="#">查看小区的基本内容</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">物业管理</div>
                <div class="panel-body">
                    <a href="#">发布公告和查看当前的公告</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共设施</div>
                <div class="panel-body">
                    <a href="#">小区内的公共施舍</a>
                </div>
            </div>
        </div>



    </div>
    @*第二行*@
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">小区管理</div>
                <div class="panel-body">
                    <a href="#">查看小区的基本内容</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">物业管理</div>
                <div class="panel-body">
                    <a href="#">发布公告和查看当前的公告</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共设施</div>
                <div class="panel-body">
                    <a href="#">小区内的公共施舍</a>
                </div>
            </div>
        </div>



    </div>
    @*第三行*@
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">小区管理</div>
                <div class="panel-body">
                    <a href="#">查看小区的基本内容</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">物业管理</div>
                <div class="panel-body">
                    <a href="#">发布公告和查看当前的公告</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共设施</div>
                <div class="panel-body">
                    <a href="#">小区内的公共施舍</a>
                </div>
            </div>
        </div>



    </div>
    @*第四行*@
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">小区管理</div>
                <div class="panel-body">
                    <a href="#">查看小区的基本内容</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">物业管理</div>
                <div class="panel-body">
                    <a href="#">发布公告和查看当前的公告</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共设施</div>
                <div class="panel-body">
                    <a href="#">小区内的公共施舍</a>
                </div>
            </div>
        </div>
    </div>

</div>

